* {
	box-sizing: border-box;
	font-family: Arial;
}
.main {
	margin: 50px auto;
	position: relative;
	overflow: hidden;
	width: 500px;
	height: 700px;
	border: 1px solid black;
}
.tetris {
	width: 500px;
	height: 900px;
	display: flex;
	overflow: hidden;
	flex-wrap: wrap;
	position: absolute;
	bottom: 0;
	background-color: white;
}
.excel {
	width: 50px;
	height: 50px;
	border: 1px solid lightgray;
}
.figure, .set {
	background-color: lightgreen;
}
input {
	display: block;
	margin: 30px auto;
	font-size: 30px;
	padding: 10px;
}
.contr {
	margin-left: 40%;
}
.modal {
	position: fixed;
	text-transform: uppercase;
	width: 500px;
	height: 500px;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	background-color: #fff;
	z-index: 3;
	display: flex;
	align-items: center;
	flex-direction: column;
	justify-content: center;
	border-radius: 20px;
}
.button {
	border: 2px solid lightblue;
	width: 300px;
	text-align: center;
	margin-bottom: 20px;
	padding: 30px 0;
	cursor: pointer;
	font-size: 25px;
	transition: all .3s;
}
.button:hover {
	border-radius: 40px;
}
.overlay {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	z-index: 2;
	background-color: darkblue;
}
@media screen and (max-width: 580px) {
	.contr {
		display: none;
	}
	.modal {
		width: 250px;
		height: 250px;
	}
	.button {
		width: 150px;
		margin-bottom: 10px;
		padding: 15px 0;
		font-size: 12px;
	}
	div > h1 {
		font-size: 17px;
	}
	div > h2 {
		font-size: 12px;
}
